.scannerwork/
.vscode/
tool/code_quality/analystic/build/
build/
log/
**/report/

**/gen-py/

#ignore pattern from ficus below
*.o
GPATH
GRTAGS
GTAGS
tags
olive
GSYMS
*.os
*.lo
*.d
*.mk
.cproject
.pydevproject
.metadata
*.diff
*.a
*.la
*.so
*.so.*
*.gcno
*.gcda
*~
*_ficus
*_ficus.exe
*_benchmark
*_unittest
*_unittest.exe
*_functest
*_functest.exe
*_perftestv
*_perftest.exe
*_systest
*_ficus_log
*_unittest
*_unittest_log
*_functest
*_functest_log
*_perftest
*_perftest_log
*_performance_test
*_performance_test_log
*_integration_test
*_integration_test_log
*_speed_test
*_speed_test_log
*_systest
*_systest_log
*_l2test
*_l3test
*.log
*.sconsign.dblite
filelist.dat
*.prefs
*.pb.h
*.pb.cc
*.rej
*.Plo
*.Po
protoc
*.prof
*.pyc
*.orig
*.swp
*.class
*unittest_files*
*.class
gen-cpp
gen-java
models/car_model
models/face_model
dependency
gen-cpp
gen-html
gen-cpp-helper
build/*
.DS_Store
*.pdb
xcuserdata
/models/
!/regression_test
.projectile
local.properties
#python
#virtualenv
pyficus/
*.egg-info
*.pyc
/android/face/sdk/demo_app/DemoAppDualCamEntranceGuard/app/src/main/java/com/oliveapp/dualcamverification/network/thrift/*
partitions
.gradle
.idea
t4_binary/*
*.jar
*.war
.*/__pycache__/
.cache/
generated/
.pytest_cache/
__init__.pyc
.__pycache__/
*.pyc/
docs/
allure/
.venv/
generate*
report/
RESOLVED/

